/* WEBSITE */
body {
  font-family:serif typeface ;
  background: floralwhite ;
}

/* DIVS */

#header {
  background:floralwhite;
  width:90%;
  max-width:870px;
  position:relative;
  margin:auto;
}


#nav {
  background:#C4A484;
  position: relative;
  width: 90% ;
  max-width:1000px;
  margin: auto;
  color:#B2AC88 ;
  padding:8px;
}

#section {
  background:floralwhite;
  position: relative;
  width:90%;
  max-width:1000px ;
  margin: auto;
  overflow: hidden;
}

#footer {
  background:#C4a484 ;
  color:#ffaf0 ;
  text-align:center ;
  position: relative;
  width:90% ;
  max-width:1000px ;
  margin: auto;
}

/* NAV */

#nav ul {
    text-align: center;
}
#nav li {
    display: inline-block;
    padding-right: 20px ;
}
#nav a {
  color:white;
  text-decoration:underline;
  }

 #nav a:hover {
  color:forestgreen ;
  font-weight:400 ;
}

/* LINKS */

a {
  color:blue ;
  font-weight:400;
}

a:visited {
  color:purple;
  font-weight:400;
}

a:hover {
  color:purple ;
  font-weight:400 ;
}

/* TEXT */

h1 {
  font-size:34px;
  font-family: ;
  font-weight:700;
  text-align:center ;
}


p {
  font-size:16px ;
  font-weight:400 ;
  line-height:110%;
}

li {
  font-size:16px ;
  font-weight:400 ;
  line-height:110% ;
}

/* TABLE */
table {
  border-collapse: collapse;
  width:50%;
  margin:10px ;
  
}

th, td {
  border:10px solid;
  padding:10px;
  text-align:center ;
}

th {
  background-color:#c292a1;
  font-weight:400;
}

tr{
  background-color:white;
  font-weight:400;
}


/* IMAGES */

img.float-center {
  float:center;
  margin-right:zero;
  width:auto ;
  padding:70px ;
}

img {
  width:250px ;
  height: auto;
}

img.logo {
  width:100%;
  height: auto;
  display: block;
  margin: 0 auto;
  }

  /* SIDEBAR */

.sidebar {
float: right;
width: 30%;
height: auto;
margin-left: auto;
margin-right: auto;
padding: ;
}  

.sidebar-bottom {
display: none;
}

@media screen and (max-width: 930px) {

.sidebar {
display: none;
}

.sidebar-bottom {
display: block;
width: 95%;
max-width: 1000px;
height: auto;
margin: auto;
}
}

